.idea
local.properties
.gradle
*.iml
build
app/BuglyUploadLog.txt
*.h
*.cc
*.gypi
*.cpp
*.c
*.tab
*.s
*.gn
*.py
*.chromium
*.mm
*.pump
*.settings
*.md
*.m
*.pch
*.plist
*.ttf
*.mp3
*.proto
*.gni
*.xls
*.cur
*.rc
*.cfg
*.y4m
*.modulemap
*.podspec
*.rtcp
*.sdp
*.tokens
*.stun
*.js
*.gitignore

webrtc/
output/*
